<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
  </div>
  <div class="container">
    <div class="d-flex d-row">
      <div class="p-2">
        <button class="btn btn-outline-info mx-2 active">
          <div class="table-responsive small">
            <table>
              <thead>
                <tr>
                  <th>Total Revenue:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    $<%=Math.round(totalLifetimeRevenue)%>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </button>
      </div>
      <div class="p-2">
        <button class="btn btn-outline-info mx-2 active">
          <div class="table-responsive small">
            <table>
              <thead>
                <tr>
                  <th>Total Orders:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <%=totalLifetimeOrder%>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </button>
      </div>
    </div>
    <div class="d-flex d-row">
      <div class="p-2">
        <button class="btn btn-outline-info mx-2 active">
          <div class="table-responsive small">
            <table>
              <thead>
                <tr>
                  <th>Today Orders:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <%=todayOrder%>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </button>
      </div>
      <div class="p-2">
        <button class="btn btn-outline-info mx-2 active">
          <div class="table-responsive small">
            <table>
              <thead>
                <tr>
                  <th>Today Revenue:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <%=todayRevenue%>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h2>Last Year Earning</h2>
      <span>x(1M)</span>
    </div>
  </div>
  <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
</main>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js" integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp" crossorigin="anonymous"></script>
  <script>
    (() => {
    'use strict'
  
    // Graphs
    const ctx = document.getElementById('myChart')
    // eslint-disable-next-line no-unused-vars
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["January","February","March","April","May","June","July","August","September","October","November","December"],
        datasets: [{
          data: '<%=graphrevenuedata%>',
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '#007bff',
          borderWidth: 4,
          pointBackgroundColor: '#007bff'
        }]
      },
      options: {
        plugins: {
          legend: {
            display: false
          },
          tooltip: {
            boxPadding: 3
          }
        }
      }
    })
  })()
  </script>